.search-box-cont {
  width: 400px;
  height: 800px;
  border: 1px solid red;
}

.search-box {
  position: relative;
  margin: auto;
  width: 100%;
}

.search-results {
  width: 100%;
  font-size: 15px;
	font-weight: 300;
  color: #535766;
  background-color: white;
  border: solid 0.5px #eaeaec;
  padding: 20px 0 20px 16px;
}

.search-results-cont {
  position: absolute;
  width: 100%;
}

.search-input {
  width: 100%;
  font-size: 15px;
  color: #282c3f;
  border: solid 0.5px #eaeaec;
  padding: 20px 0 20px 16px;
  box-shadow: 0 1px 0 0 #e9eaeb;
}

.content {
  background-color: cyan;
}